* text=auto
.editorconfig text eol=lf
.gitattributes text eol=lf
*.env.example text eol=lf
*.ts text eol=lf
*.vue text eol=lf
*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.css text eol=lf
*.html text eol=lf
*.sh text eol=lf
